.App {
  height: 100%;
}

.App__content {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.App__wrapper {
  min-height: 100%;
}

.App__push {
  height: 50px;
}

.App__footer {
  padding: 0 5px;
  line-height: 50px;
  background-color: #333;
  margin-top: -50px;
  color: #FFFFFF;
}
