{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "protractor": true
  },
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "jsx-a11y/anchor-is-valid": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/label-has-for": 0
  },
  "globals": {
    "forAll": true,
    "createDriver": true,
    "checkLayout": true,
    "importClass": true,
    "session": true
  }
}
