.MainHeader__header {
  background-color: #333;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.MainHeader__nav a {
  display: inline-block;
  padding: 2px 5px;
  color: #BBB;
  font-size: 1.1em;
}

.MainHeader__nav a.active {
  color: #FFF;
}

.MainHeader__title {
  font-size: 1.5em;
}

.MainHeader__logo_topshop {
  background-color: #FFF;
  padding: 5px;
}

.MainHeader__logo_asos {
  background-color: #FFF;
  padding: 5px;
}

.MainHeader__logo_next {
  background-color: #000;
  padding: 10px;
}
